<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        aria-expanded="false"
        appDropdown
      >
        Manage Recipes
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="onAddToShoppingList()"
            >To Shopping List</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
