* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: sans-serif;
  background-color: rgb(19, 19, 19);
}
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: rgb(63, 113, 206);
}
.snare-pad {
  background-color: rgb(207, 65, 101);
}
.hihat-pad {
  background-color: rgb(87, 206, 63);
}
.snare-pad.active {
  background-color: rgb(236, 136, 161);
}
.kick-pad.active {
  background-color: rgb(133, 162, 216);
}
.hihat-pad.active {
  background-color: rgb(145, 230, 128);
}

.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kicktrack,
.snaretrack,
.hihatrack {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 0.5rem;
  border: none;
  background-color: rgb(180, 180, 180);
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  background-color: black;
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}
.mute.active {
  background-color: rgb(170, 30, 30);
}
/* Sets the remove event to all across the button, without it it's non clicable at the i tag*/
.fas .fa-volume-mute {
  pointer-events: none;
}
.tempo {
  margin: 3rem;
  width: 30%;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
